  <meta name="color-scheme" content="light dark">
  <meta name="theme-color" content="#FEF6E2" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#221718" media="(prefers-color-scheme: dark)">
{{hreflang_links}}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{meta_title}}">
  <meta property="og:description" content="{{meta_description}}">
  <meta property="og:image" content="{{og_image}}">
{{og_url}}
  <meta property="og:locale" content="{{og_locale}}">
  <link rel="icon" href="{{root}}static/img/favicon-32.png" sizes="32x32" type="image/png">
  <link rel="apple-touch-icon" href="{{root}}static/img/apple-touch-icon.png">
  <link rel="preload" href="{{root}}static/fonts/Fredoka-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}static/fonts/Nunito-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{{root}}static/css/site.css">
  <script src="{{root}}static/js/site.js" defer></script>
